<div class="bg-dark py-s text-center">
		<h2 class="text-light">The Best Viking Gear on the Whole Web</h2>
</div>
<h3 class="text-center">Choose from items below</h3>

<select
	name="category"
	ng-model="categoryFilter"
>
	<otion value="">All</otion>
	<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
</select>

<div class="index container">
	<div class="row">
		<div
			ng-repeat="product in products | filter : { categoryId: categoryFilter }"
			class="col-4 my-s"
		>
			<product
				product="product"
				on-add-to-cart-click="handleAddToCartClick(product)"
			></product>
		</div>
	</div>
</div>